@import '../../../styles/settings.scss';

.container {
    background-color: #e23f40;
    border-radius: 0;
}

.search {
    position: relative;
border-radius: 5px;
background-color: #e28080;

&:hover { 
 background-color: #e0afaf;
margin-right: 5px;
margin-left: 0;
}
}
.inputRoot {
color: inherit;
padding: 5px 35px;
}

.inputInput {
width: 100%;
}

.searchIcon {
    height: 100%;
    position:  absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}